.container {
  width: 100%;
  overflow: hidden;
  background: black;
}

.imageContainer {
  max-width: 897.42px;
  height: 438.31px;
  overflow: hidden;
  border-radius: 10px;
  background-color: aqua;
}
