.promoContainer {
  width: 100%;
  margin-bottom: 134px;
}

.promoContent {
  max-width: 1441px;
  padding-left: 120px;
}

.promoHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.promoTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.01em;
  color: #272a2d;
  margin-bottom: 8px;
}

.promoSubTitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #959595;
  margin-bottom: 46px;
}
