.table {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  border-collapse: collapse;

  th {
    height: 44px;
    background: #eaecf0;
    color: #667085;
    text-align: left;
    padding-inline: 10px;
  }

  td {
    height: 72px;
    background: #fff;
    color: #101828;
    padding-inline: 10px;
  }
}
